.intro-reservation-container {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  color: var(--primary-color);
  padding: 3% 2%;
}

.reservation-header {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.reservation-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  flex: 1 1 30%;
}

.reservation-header-text h1 {
  line-height: 0.7;
  text-align: end;
  align-self: flex-end;
}
.reservation-header-text h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: #fff;
  font-family: "karla";
  font-weight: 500;
}

.reservation-header:last-child {
  flex: 1 1 10%;
}

.reservation-header img {
  width: 350px;
  border-radius: 8px;
}
/* #endregion intro-reservation*/


@media screen and (max-width: 765px) {

/* #region intro-reservation mobile*/
.intro-reservation-container {
    padding: 0;
}

  .reservation-header-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 50px 0;
  }

  .reservation-header-text h2 {
    align-self: center;
  }
  .reservation-header-text h1 {
    align-self: center;
    text-align: center;
  }

  .reservation-header img {
    width: 100%;
    border-radius: 0;
  }
  .reservation-header img {
    width: 100%;
  }
  /* #endregion intro-reservation mobile*/
}

@media screen and (min-width: 765px) and (max-width: 1024px) {

/* #region intro-reservation tablet*/
  .reservation-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10%;
  }

  .reservation-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .reservation-header-text h1 {
    align-items: center;
  }
  .reservation-header-text h2 {
    align-self: flex-end;
  }
  /* #endregion intro-reservation tablet*/
}
