* {
  margin: 0;
  padding: 0;
  /* font-family: 'kerala'; */
}

section {
  margin-bottom: 100px;
}
.form-reservation > button, .confirmation-form > button {
  margin-top: 20px;
}

/* #region intro-reservation */
.intro-reservation-container {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  color: var(--primary-color);
  padding: 3% 2%;
}

.reservation-header {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.reservation-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  flex: 1 1 30%;
}

.reservation-header-text h1 {
  line-height: 0.7;
  text-align: end;
  align-self: flex-end;
}
.reservation-header-text h2 {
  align-self: flex-end;
  line-height: 0.7;
  color: #fff;
  font-family: "karla";
  font-weight: 500;
}

.reservation-header:last-child {
  flex: 1 1 10%;
}

.reservation-header img {
  width: 350px;
  border-radius: 8px;
}
/* #endregion intro-reservation*/

/* #region form-reservation  */


.form-reservation-container, .confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-reservation-container h2, .confirmation-container h2{ 
    text-transform: uppercase;
    font-family: "karla";
    font-weight: 900;
    padding-bottom: 50px;
    line-height: 1;
    text-align: center;
}

.form-reservation, .confirmation-form {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.form-reservation>*,.confirmation-form>*{
    flex: 1 1 50%;
}
.form-reservation label, .confirmation-container label {
  margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
}

.form-reservation input,select, .confirmation-container input{
  /* margin-bottom: 20px; */
    padding:10px 5px;
    font-family: inherit;
    font-size: inherit;
  }

  .form-reservation select[dataInvalid = "true"],input[dataInvalid = "true"] {
    border :2px solid red;
    border-radius: 3px;
  }
  
  .errorMessage{
    padding: 0;
    margin: 0;
    color: red;
    display: block;
}

/* #endregion form-reservation  */
@media screen and (max-width: 765px) {

/* #region intro-reservation mobile*/
.intro-reservation-container {
    padding: 0;
}

  .reservation-header-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 50px 0;
  }

  .reservation-header-text h2 {
    align-self: center;
  }
  .reservation-header-text h1 {
    align-self: center;
    text-align: center;
  }

  .reservation-header img {
    width: 100%;
    border-radius: 0;
  }
  .reservation-header img {
    width: 100%;
  }
  /* #endregion intro-reservation mobile*/
}

@media screen and (min-width: 765px) and (max-width: 1024px) {

/* #region intro-reservation tablet*/
  .reservation-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10%;
  }

  .reservation-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .reservation-header-text h1 {
    align-items: center;
  }
  .reservation-header-text h2 {
    align-self: flex-end;
  }
  /* #endregion intro-reservation tablet*/
}
