* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f4ce14;
  --dark-background-color: #495e57;
  --light-background-color: #edefee;
  --price-color: #ee9972;
}

#root {
  background-color: #fff;
  display: grid;
  height: 100vh;
  grid-template-rows: 75px 1fr 1fr;
  grid-template-columns: auto;
  font-family: "karla";
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text";
}

h1 {
  font-size: 4rem;
  line-height: 0.5;
}

h2 {
  font-size: 3rem;
  line-height: 0.65;
  font-size: 2.5rem;
  font-weight: 100;
}

button {
  background-color: var(--primary-color);
  color: #000;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 16px;
  font-weight: bold;
  white-space: nowrap;
  height: min-content;
  transition: all 0.1s ease;
}

button:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 1);
}

button:active{
  background-color: #ddbb10;
}
